@media screen and (max-width: 600px) {
    .feedback__alertBody {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    .feedback__alert.is-active {
        top: 12vh;
    }

    .alert__text {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
    }

    .alert__Icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 950px) {
    .hamburger {
        display: block;
        z-index: 101;
    }

    .toolbar__Burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;

        width: fit-content;
        height: auto;
        z-index: 100;
        padding-top: 90px;
        row-gap: 30px;
        transform: scale(0%);
        top: -100%;
        right: -100%;
        transition: .3s ease-in-out;
    }

    .toolbar__Burger.is-active {
        transform: scale(100%);
        top: 0;
        right: 20px;
    }

    .toolbar__Menu {
        flex-direction: column;
        row-gap: 10px;
    }

    .toolbar__Menu li a {
        color: #fff;
    }

    .menu-bg {
        display: block;
        z-index: 2;
        width: 0;
        height: 0;
        background: radial-gradient(circle, #F9783B, #e56123);
        border-radius: 50%;
        transition: 0.3s ease;
        top: 0;
        right: 0;
        position: absolute;
    }

    .menu-bg.isActive {
        width: 550px;
        height: 500px;
        transform: translate(50%, -20%);
    }

    body.is-active {
        overflow: hidden;
    }

    .toolbar__Btn a {
        box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.5);
    }
}

@media screen and (max-width: 1300px) {
    .header__Body {
        padding: 0 10px;
    }

    .header__Title {
        font-weight: 800;
        font-size: 46px;
        line-height: 60px;
    }

    .header__img {
        width: 450px;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    .header__Block1 {
        display: none;
    }

    .header__Title span img {
        width: 30px;
        height: auto;
        padding-top: 0;
    }
}

@media screen and (max-width: 954px) {
    .header__Body {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .header__img {
        width: 450px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header__Title {
        text-align: center;
    }

    .header__TextBlock {
        align-items: center;
    }

    .header {
        padding: 0 0 50px 0;
    }
}

@media screen and (max-width: 580px) {
    .header__Title {
        font-weight: 800;
        font-size: 26px;
        line-height: 43px;
    }

    .header__Desc {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .header__img {
        width: 90vw;
    }

    .header__BtnBlock {
        flex-direction: column;
        row-gap: 10px;
    }
}

@media screen and (max-width: 1010px) {
    .partners__Grid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        row-gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .partners__Grid {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        row-gap: 60px;
    }

    .partners__subTitle {
        margin-bottom: 30px;
    }

    .partners__Title {
        font-size: 48px;
    }
}

@media screen and (max-width: 1050px) {
    .services__card {

        row-gap: 40px;
    }

    .card {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .benefit__mainimg {
        width: 450px;
        height: auto;
    }

    .benefit__mainimg img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 960px) {
    .benefit__Body {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 770px) {
    .benefit__Title {
        text-align: center;
    }

    .benefit__Text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .benefit__Group {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    .benefit__Text span {
        height: 25px;
    }

    .benefit__mainimg {
        width: 90vw;
    }
}

@media screen and (max-width: 1120px) {
    .contactImg {
        width: 450px;
        height: auto;
    }

    .contact__Body {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact__Title {
        font-size: 47px;
    }

    .contact__Desc {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media screen and (max-width: 988px) {
    .contact__Body {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 10px;
    }

    .contact__Title {
        text-align: center;
    }

    .contact__Desc {
        text-align: center;
    }

    .contact__Body {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 600px) {
    .contact__Body {
        row-gap: 30px;
    }

    .contactImg {
        width: 80vw;
        height: auto;
    }

    .contactUs__Block {
        width: 90vw;
    }

    .contact__Title {
        font-size: 37px;
    }

    .contact__Desc {
        margin-top: 5px;
    }
}

@media screen and (max-width: 900px) {
    .price__Body {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 15px;
    }

    .price__Text {
        max-width: 80%;
        align-items: center;
    }

    .price__Block {
        height: 410px;
    }

    .price__Title {
        text-align: center;
        font-size: 46px;
        margin-bottom: 10px;
    }

    .price__Desc {
        text-align: center;
    }
}

@media screen and (max-width: 688px) {
    .price__Text {
        max-width: 100%;
    }

    .price__Title {
        font-size: 40px;
        line-height: 47px;
    }

    .price__Desc {
        font-size: 18px;
    }

    .price__Block {
        width: 80vw;
        height: 370px;
    }

    .price {
        padding-top: 10px;
    }

    .price__Block__title {
        margin-top: 30px;
    }

    .price__Block__desc {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1070px) {
    .work__circle {
        position: initial;
        transform: translateX(0)
    }

    .work__circle::before {
        height: 0;
        width: 0;
    }

    .work__Block {
        flex-direction: column-reverse;
        justify-content: center;
        row-gap: 20px;
        margin-bottom: 50px;
    }

    .work__Text {
        z-index: 2;
        background-color: #fff;
    }
}

@media screen and (max-width: 550px) {
    .work__Text {
        max-width: 90vw;
        row-gap: 10px;
    }

    .work__Text img {
        width: 90px;
        height: auto;
    }

    .work__Text__title {
        line-height: 40px;
    }
}

@media screen and (max-width: 915px) {
    .telegram__Group {
        flex-direction: column;
        row-gap: 10px;
    }

    .partners__Title {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .telegram__subtitle {
        font-size: 30px;
    }

    .telegram__Arrow {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .partners__Title {
        line-height: 36px;
    }

    .telegram__subtitle {
        font-size: 22px;
    }

    .telegram__telegram {
        width: 60vw;
    }

    .telegram__Group {
        padding-top: 20px;
    }

    .telegram__Text {
        width: 90vw;
    }

    .telegram__Desc {
        text-align: center;
    }

}

@media screen and (max-width: 1000px) {
    .footer__Body {
        flex-direction: column;
        row-gap: 10px;
    }
}

@media screen and (max-width: 475px) {
    .footer_menu {
        flex-direction: column;
    }
}