@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

input:focus {
    outline: none;
}

body {
    font-family: 'PF BeauSans Pro';
}


.wrapper {
    max-width: 100vw;
    position: relative;
    overflow: hidden;

}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.container__Header {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.toolbar {
    padding: 20px 0;
    border-bottom: 1px solid #D9D9D9;
}

.toolbar__Img {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toolbar__Body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar__Menu {
    display: flex;
    padding-left: 0;
    align-items: center;
    column-gap: 30px;
}

.toolbar__Menu li {
    list-style: none;
}

.toolbar__Menu li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.toolbar__Btn a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 18px 38px;
    background: #F9783B;
    border-radius: 45px;
}

.header {
    padding: 50px 0;
    /* background-color: #F1F1F1; */
}

.header__Body {
    display: grid;
    grid-template-columns: 53% 47%;
    align-items: center;
    justify-content: space-between;
}

.header__TextBlock {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.header__MainImg {
    width: 100%;
    height: auto;
    position: relative;
}

.header__Block1 {
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 12px;
    column-gap: 20px;
    padding: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    top: 0;
    cursor: default;

}

.header__Block2 {
    top: 80%;
    left: -150px;
}

.header__BlockTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 7px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.header__BlockTxt div {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.header__BlockTxt div span:nth-child(3) {
    font-weight: 100;
    color: #8A898E;
}

.header__Title {
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 73px;
    color: #073158;

}

.header__Title span {
    color: #F9783B;
    /* display: flex; */
    /* align-items: center; */
}

.header__Title span img {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.header__Desc {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 30px;
}

.header__BtnBlock {
    display: flex;
    column-gap: 15px;
    align-items: center;

}

.header__Btn1 {
    background: #F9783B;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 13px 30px;
    transition: .4s;
}
.header__Btn1:hover {
    color: #F9783B;
    outline: 2px solid #F9783B;
    background-color: #fff;
}
.header__Btn2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border-radius: 10px;
    /* border: 1px solid #000; */
    color: #000000;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    column-gap: 25px;
    /* position: relative; */
}


#wrap {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    position: absolute;
}

/* / * Нижний круг * / */
#wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

/* / * В каждом из левого и правого полей есть полукруг, в основном переполнение * / */
.box-left,
.box-right {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.box-left,
.circle-left {
    left: 0;
}

.box-right,
.circle-right {
    right: 0;
}

.circle-left,
.circle-right {
    width: 200%;
    height: 100%;
    box-sizing: border-box;
    border: 3px #F9783B solid;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

/* / * Кружок в левом поле изначально показывает только правую половину * / */
.circle-left {
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    animation: circleRotate 2s linear forwards 2s infinite;
}

/* / * Кружок в поле справа изначально отображает только левую половину * / */
.circle-right {
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    animation: circleRotate 2s linear forwards infinite;
}

@keyframes circleRotate {
    from {
        transform: rotate(-45deg)
    }

    to {
        transform: rotate(135deg)
    }
}




.header__Btn2 img {
    padding: 6px;
    border: 3px solid transparent;
    border-radius: 50%;
    position: relative;
}

/* .header__Btn2::after {
    content: '';
    position: absolute;
    border: 3px solid #F9783B;
    border-radius: 50%;
    width: 41px;
    padding: 6px;
    height: 40px;

    width: 40px;
  height: 20px;  
  border: 2px solid red;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background: mistyrose;
} */

.partners {
    padding: 50px 0;
}

.partners__subTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.45em;
    color: #8A898E;
    margin-bottom: 40px;
}

.partners__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 28px;
    text-align: center;
    color: #0B1B35;
    margin-bottom: 30px;

}

.partners__Grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
}

.partners__Grid img {
    display: flex;
    align-items: center;
    justify-content: center;
}


.services {
    padding: 50px 0;
}

.services__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 57px;
}

.education {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.credentialing {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.wallet {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.human-resources {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
    width: 220px;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    border: 0.5px solid #79797942;
    border-radius: 5px 5px 5px 35px;
}

.card:hover {
    transform: translateY(-5px) scale(108%) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}



.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11), 0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 17px;
    color: #073158;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 10000;
    transform: translateZ(0);
    fill: white;
}

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.services__card p {
    font-weight: bold;
    text-align: center;
}

.card:hover p {
    /* color: var(--text-color-hover); */
    color: #fff !important;
}








.benefit__Body {
    display: grid;
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
    justify-content: space-between;
    align-items: center;
}

.benefit__Block {
    display: flex;
    flex-direction: column;
}

.benefit__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    color: #073158;
    margin-bottom: 30px;
}

.benefit__Title span img {
    width: 100%;
    height: 100%;
}

.benefit__Title span {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.benefit__Text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #747D85;
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.contactUs {
    background-color: #F5F9FC;
    margin: 50px 0;
}

.contactImg {
    width: 540px;
    height: 445px;

}

.contactImg img {
    width: 100%;
    height: 100%;
}

.contact__Body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 60px 0 0 0;
}

.contactUs__Block {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 460px;
    height: 100%;
}

.contact__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 28px;



    color: #0B1B35;
}

.contact__Desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #000000;


}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    width: 100%;
}

.contactForm input {
    background: rgba(219, 219, 219, 0.67);
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border: none;
}

.contactForm input:nth-child(2) {
    border-radius: 0px 0px 0px 0px;
}

.contactForm button {
    background: #F9783B;
    border-radius: 0px 0px 8px 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}

.price {
    padding: 50px 0;
}

.price__Body {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.price__Text {
    display: flex;
    flex-direction: column;
    /* row-gap: 10px; */
    align-items: flex-start;
    max-width: 50%;
}

.price__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 58px;
    /* or 112% */

    margin-bottom: 50px;
    color: #073158;
}

.price__Desc {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 145.02%;
    /* or 32px */
    margin-bottom: 30px;

    color: #747D85;

}

.price__Link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
    background: #F9783B;
    border-radius: 45px;
    padding: 19px 45px;
}

.price__Block {
    width: 350px;
    height: 490px;
    border-radius: 28px;
    border: 3px solid #073158;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.price__Block__title {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
    /* identical to box height, or 110% */
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    color: #000000;
}

.price__Block__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 50px;
    color: #000000;
}

.price__Block__num {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 28px;
    /* identical to box height, or 71% */

    text-align: center;

    color: #000000;
}

.work__Content {
    padding: 50px 0;
    position: relative;

}

.work__Block {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 20px;
}

.work__Block2 {
    justify-content: end;
}

.work__Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 490px;
}

.work__Text__title {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 28px;
    /* identical to box height, or 81% */

    text-align: center;

    color: #000000;

}

.work__Text__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* or 142% */
    max-width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}

.work__circle {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9783B;
    border-radius: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: calc(140px);
    left: 50%;
    transform: translateX(-50%);
}

.work__circle::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #D9D9D9;
    width: 8px;
    height: 350px;
    border-radius: 10px;
}

.circle4::before {
    display: none;
}

.circle2 {
    top: calc(140px + 20px + 303px);
}

.circle3 {
    top: calc(140px + 20px + 303px + 275px + 20px);
}

.circle4 {
    top: calc(140px + 20px + 303px + 275px + 275px + 20px + 20px);
}



.telegram__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 28px;
    /* identical to box height, or 71% */

    text-align: center;

    color: #F9783B;
}

.telegram {}

.telegram__Body {}

.partners__subTitle {}

.partners__Title {}

.telegram__Group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

.telegram__Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    row-gap: 30px;
}

.telegram__Desc {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 158% */


    color: #000000;
}

.telegram__link {
    background: #F9783B;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 158% */
    cursor: pointer;


    color: #FFFFFF;
    padding: 11px 88px;
}

.telegram__Img {
    position: relative;
}

.telegram__Arrow {
    position: absolute;
    top: -90%;
    left: -50px;
}

.footer {
    padding: 20px 0;
}

.footer__Body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_menu {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.footer_menu li {
    list-style: none;
    cursor: pointer;
}

.footer_menu li a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #1E0E62;
}

.all {
    position: absolute;
    top: 0%;
    margin-top: 0 !important;
    opacity: 0;
    transition: 2s;
    /* font-weight: 500 !important; */
}

.card:hover .all {
    opacity: 1;
    top: 90%;
}

.feedback__alert {
    position: fixed;
    top: -6vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    overflow: hidden;
    transition: .2s ease;

}

.feedback__alert.is-active{
    opacity: 1;
    overflow: visible;
    top: 8vh;
}

.feedback__alertBody {
    width: 400px;
    height: auto;
    padding: 10px 15px;
    background: #fff;
    border: 1px solid #F9783B;
    border-radius: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    transition: .3s;
    cursor: default;
    box-shadow: 2px 2px 10px #0b264bd8;
}

.alert__Icon img {
    width: 100%;
    height: 100%;
}

.alert__Icon {
    width: 50px;
    height: 50px;
}

.alert__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000;
}

@media screen and (max-width: 600px) {
    .feedback__alertBody {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    .feedback__alert.is-active {
        top: 12vh;
    }

    .alert__text {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 21px;
        text-align: center;
    }

    .alert__Icon {
        width: 40px;
        height: 40px;
    }
}