@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'PF BeauSans Pro';
}

.wrapper {
    max-width: 100vw;
    position: relative;
    overflow: hidden;

}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.container__Header {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}

.toolbar {
    padding: 20px 0;
    border-bottom: 1px solid #D9D9D9;
}

.toolbar__Img {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toolbar__Body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar__Menu {
    display: flex;
    padding-left: 0;
    align-items: center;
    column-gap: 30px;
}

.toolbar__Menu li {
    list-style: none;
}

.toolbar__Menu li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
}

.toolbar__Btn a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 18px 38px;
    background: #F9783B;
    border-radius: 45px;
}

.header {
    padding: 50px 0;
}

.header__Body {
    display: grid;
    grid-template-columns: 53% 47%;
    align-items: center;
    justify-content: space-between;
}

.header__TextBlock {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.header__MainImg {
    width: 100%;
    height: auto;
    position: relative;
}

.header__Block1 {
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 12px;
    column-gap: 20px;
    padding: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    position: absolute;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    top: 0;

}

.header__Block2 {
    top: 80%;
    left: -150px;
}

.header__BlockTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 7px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.header__BlockTxt div {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.header__BlockTxt div span:nth-child(3) {
    font-weight: 100;
    color: #8A898E;
}

.header__Title {
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 80px;
    color: #073158;

}

.header__Title span {
    color: #F9783B;
    /* display: flex; */
    /* align-items: center; */
}

.header__Desc {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 50px;
}

.header__BtnBlock {
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.header__Btn1 {
    background: #F9783B;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 13px 30px;
}

.header__Btn2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    border-radius: 10px;
    /* border: 1px solid #000; */
    color: #000000;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header__Btn2 img {
    padding: 6px;
    border: 3px solid #F9783B;
    border-radius: 50%;
    position: relative;
}

/* .header__Btn2::after {
    content: '';
    position: absolute;
    border: 3px solid #F9783B;
    border-radius: 50%;
    width: 41px;
    padding: 6px;
    height: 40px;

    width: 40px;
  height: 20px;  
  border: 2px solid red;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  background: mistyrose;
} */

.partners {
    padding: 50px 0;
}

.partners__subTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.45em;
    color: #8A898E;
    margin-bottom: 40px;
}

.partners__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 28px;
    text-align: center;
    color: #0B1B35;
    margin-bottom: 30px;

}

.partners__Grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
}

.partners__Grid img {
    display: flex;
    align-items: center;
    justify-content: center;
}


.services {
    padding: 50px 0;
}

.services__card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 57px;
}

.education {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
}

.credentialing {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.wallet {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #fff;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.human-resources {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
    width: 220px;
    height: 321px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    border: 0.5px solid #79797942;
    border-radius: 5px 5px 5px 35px;
}

.card:hover {
    transform: translateY(-5px) scale(108%) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover p {
    color: var(--text-color-hover);
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11), 0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 17px;
    color: #073158;
    margin-top: 30px;
    z-index: 1000;
    transition: color 0.3s ease-out;
}

.circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 10000;
    transform: translateZ(0);
    fill: white;
}

.overlay {
    width: 118px;
    position: absolute;
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 70px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
}

.services__card p {
    font-weight: bold;
    text-align: center;
}

.benefit__Body {
    display: grid;
    grid-template-columns: calc(50% - 50px) calc(50% - 50px);
    justify-content: space-between;
    align-items: center;
}

.benefit__Block {
    display: flex;
    flex-direction: column;
}

.benefit__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 110%;
    color: #073158;
    margin-bottom: 30px;
}

.benefit__Title span img {
    width: 100%;
    height: 100%;
}

.benefit__Title span {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.benefit__Text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #747D85;
    display: flex;
    align-items: center;
    column-gap: 20px;

}

.contactUs {
    background-color: #F5F9FC;
    margin: 50px 0;
}

.contact__Body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 60px 0 0 0;
}

.contactUs__Block {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 460px;
    height: 100%;
}

.contact__Title {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 28px;



    color: #0B1B35;
}

.contact__Desc {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #000000;


}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    width: 100%;
}

.contactForm input {
    background: rgba(219, 219, 219, 0.67);
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border: none;
}

.contactForm input:nth-child(2) {
    border-radius: 0px 0px 0px 0px;
}

.contactForm button {
    background: #F9783B;
    border-radius: 0px 0px 8px 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}